{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console": 1, // Means warning
    "prettier/prettier": 2, // Means error
    "semi": 1
  }
}
